* {
	margin: 0;
	padding: 0;
}

body {
	background: #efefef;
	padding: 5px;
}

h1 {
	text-align: center;
	font-size: 24px;
	padding: 15px;
}

h3 {
	text-align: center;
	padding-top: 10px;
}


/* макет страницы */

.page {
	margin: auto;
	width: 513px;
	height: 751px;
	background: #ffffff;
	box-shadow: 0 0 6px 3px rgba(221, 221, 221, 1);
}


/* блок с рисунком */

.imgcenter {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	font-size: 12pt;
	padding-bottom: 15px;
}


/* сепаратор */

.line {
	margin: auto;
	border-bottom: 1px solid black;
	height: 0;
	width: 90%;
}


/*Список*/

.indent {
	padding: 15px;
	font-size: 12pt;
	margin-left: 30px;
}


/*Мои контакты*/

.contact {
	color: #9e1743;
}

.social {
	margin-left: -25px;
	text-align: center;
	padding: 10px;
}

.indent1 {
	padding: 20px;
}